@model LoginExample.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Velkommen</title>
</head>
<body>
    <div>
        <h4>Velkommen @Model.RealName</h4>
        <h2>Du har rollen @Model.Role</h2>
        <hr />
    </div>
</body>
</html>
